# The configuration file for tradefeed_cmbhk.
#

[directory]

# where to look for input trade files.
input=

# where to store converted files.
output=



[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# the mail recipients
recipents=steven.zhang@clamc.com.hk, itsupport@clamc.com.hk

# smtp timeout in seconds
timeout=30



[database]

# which database to use
name=cmbhk_trade

# user name and password to connect to database
username=steven
password=clamc123

# network address of the MySQL database
host=ubuntu-server01



[testdatabase]

# which database to use
name=test_cmbhk_trade

# user name and password to connect to database
username=steven
password=clamc123

# network address of the MySQL database
host=ubuntu-server01